<h3 class="text-center">
  {{#link-to "project.show" project}}{{project.title}}{{/link-to}}
</h3>
<button {{action 'deleteProject'}}>X</button>
<button {{action 'editProject'}}>E</button>
<hr>
<div>
  {{project.description}}
</div>
