<h1 class="inline">Dodo</h1>
<ul class="inline">
  <li class="inline">{{#link-to "auth.project.index"}}Projects{{/link-to}}</li>
</ul>

{{#if auth.isLoggedIn}}
  <ul class="inline">
      <button {{action 'logout'}}>Logout</button>
  </ul>
{{/if}}
