<h1 class="inline">Dodo</h1>
<ul class="inline">
  <li class="inline">{{#link-to "auth.project.index"}}Projects{{/link-to}}</li>
</ul>

{{#if auth.isLoggedIn}}
  <ul class="inline">
      <button {{action 'openInvites'}}>Invites</button>
  </ul>
{{/if}}

{{#if isLoggedIn}}
  <div class="right">
    <p>{{userEmail}} (<a {{action 'logout'}} href="#">Logout</a>)</p>
  </div>
{{/if}}

{{#if isShowingInvites}}
  {{#modal-dialog
    containerClass="custom-modal"
    onClose="closeInvites"
    translucentOverlay=true}}
    {{invite-list}}
  {{/modal-dialog}}
{{/if}}
