{{#modal-dialog
  containerClass="custom-modal"
  onClose="onClose"
  translucentOverlay=true}}
  <div>Name</div>
  {{input value=projectName}}
  <div>Description</div>
  {{input value=projectDescription}}

  <button {{action 'createProject'}}>Create</button>
{{/modal-dialog}}
