{{#modal-dialog
  containerClass="custom-modal"
  onClose="onClose"
  translucentOverlay=true}}
  <div>Name</div>
  {{input value=project.title}}
  <div>Description</div>
  {{input value=project.description}}

  <button {{action 'saveProject'}}>Save</button>
{{/modal-dialog}}
