.container {
  margin: auto;
  max-width: 1200px;
  min-width: 300px;
}

.center {
  margin: auto;
}

.inline {
  display: inline;
}

.text-center {
  text-align: center;
}

.spaced {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.full-width {
  width: 100%;
}

.margin-bottom {
  &--5 {
    margin-bottom: 5px;
  }
}

.margin-top {
  &--10 {
    margin-top: 10px;
  }
}

.grid-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

}

.grid-3 {
  width: 30%;
}

.grid-7 {
  width: 70%;
}
