.tile {
  display: inline-block;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;

  &__block {
    min-width: 250px;
    min-height: 250px;
  }

  &__item {
    margin: 5px;
  }

  &__login {
    display: block;
    margin: auto;
    min-width: auto;
    min-height: auto;
    max-width: 200px;
  }

  &__post {
    width: 500px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &__post-input {
    width: 500px;
    margin: auto;
  }

  &__inline {
    display: block;
    margin: 0 0 5px 5px;
    //min-width: none;
    min-height: auto;
    min-width: auto;
  }
}
