<div class="spaced">
  <h2>Thread - {{thread.title}}</h2>
</div>

{{#each thread.posts as |post|}}
  {{post-tile
    editPost=(action 'editPost')
    deletePost=(action 'deletePost')
    post=post}}
{{/each}}

{{post-input
  post=(action 'post')}}

{{#if isEditingPost}}
  {{post-edit-modal
    onClose=(action 'onClose')
    post=post}}
{{/if}}
